<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Recuperar Contraseña</title>
	</head>
	<body>
		<h1>Recuperar Cuenta</h1>
		<br>
		<p th:if="${mensaje!=null}" th:text="${mensaje}"></p>
		<form th:action="@{/usuario/recuperarPasswordXCorreo}" method="POST"> 
			<label for="correo">Ingresa tu correo: </label><input type="text" name="correo" id="correo" required><br><br>
			<button>Recuperar</button>
		</form>
		<br><br>
		<div th:if="${usuario!=null}">
			<h4>Ingresa una nueva contraseña:</h4>
			<p th:if="${mensaje!=null}"  th:text="${mensaje}"></p>
			<form th:action="@{/usuario/actualizarPassword}" method="POST">
				<input type="hidden" name="id" th:value="${usuario.id}">
				<label for="password1">Nueva Contraseña: </label><input type="text" name="password1" id="password1" required><br><br>
				<label for="password2">Repita Contraseña: </label><input type="text" name="password2" id="password2" required><br><br>
				<button>Cambiar</button>	
			</form>
		</div>
	</body>
</html>